<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">P@ssG0!</property>
  <property name="hibernate.connection.url">jdbc:mysql://LocalHost:3306/techlist</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.default_schema">techlist</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="com.accountomation.techlist.model.Company" />
  <mapping class="com.accountomation.techlist.model.DateMap" />
  <mapping class="com.accountomation.techlist.model.Job" />
  <mapping class="com.accountomation.techlist.model.SaleDetail" />
  <mapping class="com.accountomation.techlist.model.SalesType" />
  <mapping class="com.accountomation.techlist.model.Technician" />
 </session-factory>
</hibernate-configuration>
